*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FF8896; 
    min-height:100vh;
    display:flex;
    justify-content: center;
    padding: 20px;
}

.Love{
background: #ffbbc1;
padding: 40px;
border-radius: 20px;
}

h1{
    color: #c00000;
    text-align: center;
    font-size: 2.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.yesOrNo{
    margin: 40px;
    display: flex;
    justify-content: s;
    gap: 100px;
    flex-wrap: wrap;
}

.btn{
    padding: 5px 7px;
    font-size: 20px;
    border: none;
    border-radius:7px;
    transition: all 0.3s;
    display: inline-block;
    cursor: pointer
} 

.yes{
    background-color:#c00000;
    color:#ffffff;
}
.yes:hover{
background-color:#FF8896;
transform:scale(1.05);
}
.no{
    background-color:#c00000;
    color:#ffffff;
}
.no:hover{
    background-color:#FF8896;
}
.video1{
    display:inline;
    justify-content: center;
    align-items: center;
}

.yescontainer{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    
}

.yesMessage{
    text-align: center;

}